@page
@model WebApp.Pages.MarcaVehiculo.GridModel
@{

}


<div class="container">

    <div class="card">
        <div class="card-header">
            MarcaVehiculo
        </div>
        <div class="card-body">

            <a class="btn btn-outline-primary" asp-page="Edit" >
                <i class='bx bxs-add-to-queue'></i>
            </a>

            <div class="row">
                <div class="col-12">
                    <table id="GribView" class="" table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Descripcion</th>
                                <th>Estado</th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.GridList)
                            {
                                <tr>
                                    <td>@item.MarcaVehiculoId</td>
                                    <td>@item.Descripcion</td>
                                    <td>@(item.Estado ? "Activo": "Inactivo")</td>
                                    <td>

                                        <button type="button" class="btn btn-outline-primary">
                                            <i class='btn-xl bxs-edit'></i>
                                        </button>

                                        <button type="button" class="btn btn-outline-primary"
                                                onclick="MarcaVehiculoGrid.OnClickEliminar(@item.MarcaVehiculoId)">
                                            <i class='btn-xl bxs-trash'></i>
                                        </button>
                                    </td>

                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{ 

    <script>
        var MensajeApp = "@Html.Raw(Model.Mensaje) ";
    </script>
    <script defer src="~/App/MarcaVehiculo/Grid.js"></script>


}

